body {
    background-color: black;
}

.good-text {
    width: 100%;
    height: 200px;
    font-family: "Courier";
    color: #39FF14;
    background-color: black;
}

#text-input-small {
    width: 100%;
    height: 20px;
    font-family: Courier;
    color: #39FF14;
    background-color: black;
}